.modal-backdrop {
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

/* .modal-backdrop[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
}
.modal-backdrop[aria-hidden="false"] {
    opacity: 1;
    pointer-events: auto;
}

.modal-backdrop .open {
    opacity: 1;
    pointer-events: auto;
} */

.modal-content {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-image {
    pointer-events: auto;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-header, .modal-image {
    max-width: 558px;
    width: 100%;
    /* width: calc((372 / 1440) * 100vw); */
}

.modal-close-btn {
    cursor: pointer;
    font-size: 2rem;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.portrait .modal-header, .portrait .modal-image {
    max-width: 420px;
    width: 100%;
    /* width: calc((372 / 1440) * 100vw); */
}

.modal-image img {
    object-fit: cover;
}

.no-scroll {
  overflow: hidden;
}

[hidden] { display: none !important; }

.modal-backdrop:not([hidden]) {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 639px) {
    .modal-header, .modal-image {
        width: 90%;
    }
    .portrait .modal-header, .portrait .modal-image {
        width: 90%;
    }
}